body {
  font-family: sans-serif;
  background-color: rgb(224, 224, 224);
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
}

.box-border {
  overflow: hidden;
  background: rgb(25,30,43);
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 0;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: 10px 0 5px -2px #888;
  color: white;
  min-width: fit-content;
}


.box {
  padding: 20px;
  padding-top: 30px;
  padding-bottom: 50px;
  width: 25vw;
  background-color: rgb(25,30,43) ;
  margin-right: 40px;
  margin-left: 100px;
  border-bottom: solid 2px rgb(240, 240, 240);
  max-height: 20px;
  
}

.active {
  max-height: fit-content;

}

.active1 {
  max-height: fit-content;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

input {
  padding: 0.7rem;
  font-size: 1rem;
  border: none;
  background-color: transparent !important;
  color: rgb(255, 255, 255);
  padding-top: 0;
  height: 50px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-background-clip: text;
    -webkit-text-fill-color: white;
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px rgb(25,30,43);
}
textarea:focus, input:focus{
  outline: none;
}


.textarea-div {
  position: relative;
  display: none;
  flex-direction: column;
  gap: 0px;
  padding-bottom: 10px;
  border: 2px solid rgb(189, 189, 189);
  border-radius: 5px;
  min-height: 50px;
}

.textarea-div label {
  transform: translateY(-50%);
  margin-left: 5px;
  padding-inline: 10px;
  background-color: rgb(25,30,43);
  width: fit-content;
}

textarea {
  padding: 0.7rem;
  font-size: 1rem;
  border: none;
  border-radius: 6px;
  background-color: transparent;
  color: rgb(255, 255, 255);
  padding-top: 0;
  resize: vertical;
  height: fit-content;
  max-height: 200px;
}

.header1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
}

.input-div {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0px;
  padding-bottom: 10px;
  border: 2px solid rgb(189, 189, 189);
  border-radius: 5px;
  height: 40px;
  display: none;
}

.active1 .input-div {
  display: flex;
}

.active .input-div {
  max-height: 0;
}

.input-div label {
  transform: translateY(-50%);
  margin-left: 5px;
  padding-inline: 10px;
  background-color: rgb(25,30,43);
  width: fit-content;
}




.input-div1 {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0px;
  padding-bottom: 10px;
  border: 2px solid rgb(189, 189, 189);
  border-radius: 5px;
  height: 40px;
  display: none;
}

.active .input-div1 {
  display: flex;
}

.input-div1 label {
  transform: translateY(-50%);
  margin-left: 5px;
  padding-inline: 5px;
  background-color: rgb(25,30,43);
  width: fit-content;
}




.header1 .title {
  margin: 0;
}



.fa-chevron-up {
  transform: rotate(0deg);
  transition: transform 0.2s;
}

.fa-chevron-up.rotate {
  transform: rotate(-180deg);
}


.date-div {
  display: flex;
  justify-content: space-between;
}

.buttons {
  display: none;
  justify-content: right;
}

.active1 .buttons {
  display: flex;
}

button {
  display: flex;
  align-items: center;
  border: none;
  height: 50px;
  padding: 20px;
  color: white;
  font-size: 0.9rem;
  font-weight: 600;
  background-color: #4490F9;
  border-radius: 0px;
  margin-left: 20px;
}

.page {
  background: white;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
  height:297mm;
  width:210mm;

}

img {
  width: 100px;
  border-radius: 50%;
  border: 3px solid white;
}

h3 {
  font-weight: 500;
  font-size: 1rem;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  padding-left: 50px;
  padding-right: 60px;
  background-color: rgb(78, 78, 78);
  color: white;
}

.left-header {
  display: flex;
  align-items: center;
  gap: 20px;
}

.left-header h2 {
  text-decoration: underline;
}

.settings {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  padding-left: 100px;
  margin-bottom: 40px;
  gap: 20px;
  color: white;
}

.settings div {
  display: flex;
  gap: 10px;
}

.settings h1 {
  font-size: 1.7rem;
  font-weight: 800;
  margin: 0;
}

button:hover {
  cursor: grab;
}

button:active {
  transform: scale(0.96);
}

.education-div {
  display: flex;
  flex-direction: column;
  margin: 50px;
  margin-bottom: 0;
}

.edu-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 30px;
}

.school h4 {
  margin: 0;
}

.cv-title {
  border-bottom: 2px solid black;
  margin-bottom: 30px;

}

.cv-title h1 {
  margin: 0;
  font-size: 1.5rem;
}

.school-date {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.school-date h3 {
  margin: 0;
  margin-bottom: 1em;
}

.school {
  max-width: 80%;
}

.info {
  max-width: 80%;
}

.page h4 {
  font-size: 1.2rem;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  padding-bottom: 5px;
  padding-top: 15px;
  background-color: #253350;
  display:none;
}

.active .input {
  display: flex;
  max-height: fit-content;
}

.active1 .input {
  height: 0;
}

.active1 .textarea-div {
  display: flex;
  max-height: fit-content;
}

.active .textarea-div {
  display: none;
}


.input h3 {
  font-weight: 600;
  margin: 0;
}

.input .btn {
  display: flex;
  gap: 20px;

}

.btn i {
  font-size: 1.2rem;
}

.new-div {
  display: flex;
  justify-content: end;
}

#new {
  width: fit-content;
  display: none;
}



.active #new {
  display:block
}

.page-div {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
}

.add-img {
  display: none;
  justify-content: center;
  align-items: center;
  margin: 0;
  
}

.active .add-img {
  display: flex;
}

.experience-item {
  display: flex;
  justify-content: space-between;
}
